* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.d__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.blog-item-body:hover {
  background: #eaeaea;
}
